<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.oa.workflow.mapper.TemplateMapper">

    <insert id="add" parameterType="com.my.oa.workflow.domain.Template">
        INSERT
        INTO
          oa_template (name, process_definition_key, path)
        VALUES (#{name},#{processDefinitionKey},#{path})
    </insert>

    <delete id="delete" parameterType="com.my.oa.workflow.domain.Template">
        DELETE
        FROM
          oa_template
        WHERE
          id = #{id}
    </delete>

    <update id="update" parameterType="com.my.oa.workflow.domain.Template">
        UPDATE
          oa_template
        SET
          name = #{name},
          process_definition_key = #{processDefinitionKey},
          path = #{path}
        WHERE
          id = #{id}
    </update>

    <select id="load" parameterType="int" resultType="com.my.oa.workflow.domain.Template">
        SELECT
            id,
            name,
            process_definition_key as "processDefinitionKey",
            path
        FROM
            oa_template
        WHERE
            id = #{id}
    </select>

    <select id="findAll" resultType="com.my.oa.workflow.domain.Template">
        SELECT
            id,
            name,
            process_definition_key as "processDefinitionKey",
            path
        FROM
            oa_template
    </select>

</mapper>
